<div class="glue-spacer-4-top"></div>

<section>
  <div class="glue-page">
    <div class="glue-grid">
      <div class="glue-grid__col glue-grid__col--span-12">

        <h1 class="glue-headline glue-headline--headline-3">
            <span class="glue-font-weight-medium gemini-gradient">Behind the Curtain.</span>
        </h1>

      </div>

      <div class="glue-grid__col glue-grid__col--span-12 glue-spacer-4-top"></div>

      <div class="glue-grid__col glue-grid__col--span-2">
        <h2 class="glue-headline glue-headline--headline-5 glue-spacer-1-bottom">About</h2>
      </div>
      <div class="glue-grid__col glue-grid__col--span-8">
        <p class="glue-body--large">
        	<b>AI Boost Toolbox for SAP RISE</b> is your primary resource to access the best of Gemini and other Gen AI tools, delivered within a SAP consultant-friendly interface to jump start your creativity.
        </p>
        <p class="glue-body--large">
        	Using AI Boost Toolbox for SAP RISE, you are empowered to generate content & images, conduct research, identify insights, generate ideas, and accelerate your productivity. Simply click on a relevant card and we'll get the conversation started with the most capable AI model. In addition, we're providing links to other Generative AI tools available within Google to guide marketers towards the best solutions.
        </p>
        <p class="glue-body--large">
        	<b>AI Boost Toolbox for SAP RISE is under active development and we could use your support.</b> We're iterating on new features each week based on marketer <a routerLink="/feedback">feedback</a>. Find a bug? Have an idea for a new feature? <a routerLink="/feedback">Let us know</a>! Ideas, bug reports, and other contributions that we integrate into the tool will receive credit below.
      	</p>
      </div>

      <div class="glue-grid__col glue-grid__col--span-12 glue-spacer-4-top"><hr></div>

      <div class="glue-grid__col glue-grid__col--span-2">
        <h2 class="glue-headline glue-headline--headline-5 glue-spacer-1-bottom">Credits</h2>
      </div>
      <div class="glue-grid__col glue-grid__col--span-8">

      	<div class="glue-grid">
	      	<div class="glue-grid__col glue-grid__col--span-2">
		        <p><b>Original Product & Engineering</b></p>
		      </div>
		      <div class="glue-grid__col glue-grid__col--span-6">
		        <p>
		        	Steve Dawson
		        </p>
		      </div>

		      <div class="glue-grid__col glue-grid__col--span-8 glue-spacer-3-top"></div>

		      <div class="glue-grid__col glue-grid__col--span-2">
		        <p><b>SAP Engineering</b></p>
		      </div>
		      <div class="glue-grid__col glue-grid__col--span-6">
		        <p>
		        	 Viktor Palkin, Adrian Beheschti
		        </p>
		      </div>

		      <div class="glue-grid__col glue-grid__col--span-8 glue-spacer-3-top"></div>

		      <div class="glue-grid__col glue-grid__col--span-2">
		        <p><b>Leadership and Innovation</b></p>
		      </div>
		      <div class="glue-grid__col glue-grid__col--span-6">
		        <p>
		        	 Matthew Buskell, Ian Moria and the EMEA SAP GTM Team
		        </p>
		      </div>

		      <div class="glue-grid__col glue-grid__col--span-8 glue-spacer-3-top"></div>

		      <div class="glue-grid__col glue-grid__col--span-2">
		        <p><b>Risk, Compliance & <br>Due-Diligence</b></p>
		      </div>
		      <div class="glue-grid__col glue-grid__col--span-6">
		        <p>
		        	 tbd
		        </p>
		      </div>

		      <div class="glue-grid__col glue-grid__col--span-8 glue-spacer-3-top"></div>

		      <div class="glue-grid__col glue-grid__col--span-2">
		        <p><b>Shout-outs</b></p>
		      </div>
		      <div class="glue-grid__col glue-grid__col--span-6">
		        <p>
		        	 Special shout-out to tbd, whose ideas helped inform the direction of the product.
		        </p>
	        	<p>
	        		Shout-out to the Google AI Marketing Toolbox, which serves as a core code foundation for AI Boost Toolbox for SAP RISE.
		        </p>
		      </div>

          <div class="glue-grid__col glue-grid__col--span-8 glue-spacer-3-top"></div>

		      <div class="glue-grid__col glue-grid__col--span-2">
		        <p><b>Prompt Contributions</b></p>
		      </div>
		      <div class="glue-grid__col glue-grid__col--span-6">
		        <p>
		        	 Thanks to individuals that have contributed prompts to our team that have improved the product:
		        </p>
            <p>
              tbd
            </p>
		      </div>

		    </div>
	    </div>

      <div class="glue-grid__col glue-grid__col--span-12 glue-spacer-4-top"><hr></div>

      <div class="glue-grid__col glue-grid__col--span-2">
        <h2 class="glue-headline glue-headline--headline-5 glue-spacer-1-bottom">Release<br> History</h2>
      </div>
      <div class="glue-grid__col glue-grid__col--span-8">

        <div class="glue-grid">

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 11/11/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Created a for of AI Marketing Toolbox App</p>
            <ul>
              <li>Now use the app to accelerate SAP implementations on Google Cloud</li>
              <li>Initial version of SAP Toolbox</li>
            </ul>
            <br>
          </div>

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 9/2/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Added the ability to generate realistic speech using audio generation:</p>
            <ul>
              <li>Generate realistic speech using 480 synthetic voices across 58 languages.</li>
              <li>Bug fixes.</li>
            </ul>
            <br>
          </div>
          
          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 8/18/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Upgraded to Imagen 3 release version, bug fixes, and more:</p>
            <ul>
              <li>Upgraded from Imagen 3 preview version to release version.</li>
              <li>Integrated brand voice & tone guidelines for 4 additional products.</li>
              <li>Gemini brand alignment & bug fixes.</li>
              <li>Launch approval and comms plan.</li>
            </ul>
            <br>
          </div>
          
          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 7/29/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Upload or paste links to multiple documents, multi-lingual support, and HPP copy generation improvements:</p>
            <ul>
              <li>Upload multiple documents using Google Drive upload or by pasting multiple document links.</li>
              <li>Added an option to change the language used for conversations with Gemini.</li>
              <li>Significantly improved HPP copy generation based on HPP guidelines, best-practices and high-performing examples.</li>
            </ul>
            <br>
          </div>

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 7/8/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Create custom action cards, access for TVCs and interns, legal considerations, and more:</p>
            <ul>
              <li>Added the ability to create custom action cards based on a prompt, similar to Gemini Gems. Simply browse to Custom > Add Custom Prompt to get started. Prompts can be shared with the central team to consider for inclusion for all users.</li>
              <li>Based on marketer feedback, we've expanded access to TVCs and interns. If you'd like to grant a TVC access, submit a request via the Feedback form.</li>
              <li>Added the "Productivity > Create a Snippet" card to craft bite-sized and engaging updates for internal comms purposes (thanks Tamara Lucas Morillas).</li>
              <li>Integrated legal changes in preparation for launch.</li>
              <li>Various bug fixes and UX improvements.</li>
            </ul>
            <br>
          </div>

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 7/1/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Support for AI Boost Bites script writing, administrative dashboard, error reporting, and more:</p>
            <ul>
              <li>Added "Productivity > AI Boost Bites" card, providing a script-writing assistant to support an upcoming AI micro-learning series (thanks Cam Macintosh).</li>
              <li>Every feature of the application is configurable using a backend admin dashboard user interface, accelerating time-to-market for new features without writing code.</li>
              <li>Robust error logging, reporting and alerts.</li>
              <li>Privacy review complete.</li>
            </ul>
            <br>
          </div>

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 6/24/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Floating & collapsable navigation, compliance guardails & notices, and more in preparation for Marketing launch:</p>
            <ul>
              <li>The navigation has been updated to automatically collapse and float above the chat thread to allow for easy access to action cards.</li>
              <li>In-situ compliance reminders when downloading images or generating copy.</li>
              <li>Automated comliance notices if Gemini generates copy that includes problematic claims (EU New Deal for Consumer, Carbon Neutral regulation, etc).</li>
              <li>Updated compliance attestion pop-up for first-time users with links to new compliance resources.</li>
            </ul>
            <br>
          </div>

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 6/17/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>All images are generated with Imagen 3, Google's latest image model. Also, switch brand tone & style, paste drive links, built-in inclusivity, and more:</p>
            <ul>
              <li>Imagen 3 is Google's latest cutting-edge image generation model that is currently in internal preview.</li>
              <li>Ability to change the brand tone & style from the general Google brand to our other sub-brands.</li>
              <li>Ability to paste a Google Doc, Sheet or Drive link directly in the chat to process it with Gemini. (go link support coming soon)</li>
              <li>Inclusivity guidelines are built-in and considered in all model responses. <i>Note: this does not supersede the need for a human-based inclusivity review.</i></li>
            </ul>
            <br>
          </div>

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 6/10/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Upload Google Drive documents, sheets & presentations + sign-in, and more:</p>
            <ul>
              <li>Ability to upload documents, slides and sheets from Google Drive to provide additional context to the model -- perfect for marketing briefs, presentations, project trackers and more.</li>
              <li>Added Google account sign-in to power future feature development and tool personalization.</li>
              <li>We're fully multi-modal! We have integrated multi-modal capabilities using Gemini 1.5 Pro, allowing conversations to be grounded in both documents, images, spreadsheets and presentations.</li>
              <li>Added a refresh button to restart your conversation.</li>
            </ul>
          </div>

          <div class="glue-grid__col glue-grid__col--span-8 glue-spacer-3-top"></div>

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 6/3/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>Feedback form, image generation guardrails, analytics, and more:</p>
            <ul>
              <li>Ability to provide <a routerLink="/feedback">feedback</a> to inform the future direction of the product.</li>
              <li>Ability to thumbs-up and thumbs-down individual responses to deliver feedback and assist in model optimization.</li>
              <li>Quickly copy responses by clicking on the <span class="google-symbols">content_copy</span> icon.</li>
              <li><a href="https://deepmind.google/technologies/synthid/" target="_blank">SynthId integration</a> and safety guardrails on all generated imagery.</li>
              <li>Google Analytics integration.</li>
            </ul>
          </div>

          <div class="glue-grid__col glue-grid__col--span-8 glue-spacer-3-top"></div>

          <div class="glue-grid__col glue-grid__col--span-2">
            <p><b>Week of 5/27/24</b></p>
          </div>
          <div class="glue-grid__col glue-grid__col--span-6 timeline">
            <p>AI Boost for SAP Toolbox is born! 🎂 🎉</p>
            <ul>
              <li>Generate content & images, conduct research, identify insights, generate ideas, and accelerate your productivity.</li>
              <li>Click on a relevat "project phase action card" and we'll get the conversation started with the most capable model available.</li>
              <li>Links to other Generative AI tools available within Google Cloud , helping guide SAP Consultants towards the best solutions.</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="glue-grid__col glue-grid__col--span-12 glue-spacer-4-top"><hr></div>

      <div class="glue-grid__col glue-grid__col--span-2">
        <h2 class="glue-headline glue-headline--headline-5 glue-spacer-1-bottom">Technology</h2>
      </div>
      <div class="glue-grid__col glue-grid__col--span-8">
        <p>
        	AI Boost Toolbox for SAP RISE is a Google Cloud AppEngine application that uses Flask for serving, Angular for the user interface, and Firestore for data storage. The Glue front-end library is used extensively across the user interface to deliver a Googley, accessible, and on-brand interface.
        </p>
        <p>
        	As it relates to Generative AI, we've intgrated with the latest-available models within Google, including Gemini 1.5 Pro and Imagen 3.</p>
      	<p>
      		We seamlessly switch to the best available AI model based on the desired marketing activity -- all of which is transparent to the user and delivered through a unified chat experience. In addition, we support multi-modal conversations involving text, documents, images and more.
        </p>
        <p>
        	The Marketing Action Cards in the user interface drive system prompts, which utilize prompt engineering best practices to prime the model for use in a Google Marketing context. We'll refine these prompts over time based on feedback. In addition, users now have the ability to create their own action cards, similar to Gemini Gems.
        </p>
        <p>
        	Finally, we're using SynthId watermarking for image outputs. You can learn more about the DeepMind SynthId watermarking technology <a href="https://deepmind.google/technologies/synthid/" target="_blank">here</a>.
        </p>
      </div>
		</div>
	</div>
</section>

<div class="glue-spacer-6-top"></div>

<!-- glue footer -->
<footer class="glue-footer glue-spacer-3-top" >
  <h2 class="glue-visually-hidden">Footer links</h2>
  <section class="glue-footer__global">
    <div class="glue-footer__logo">
      <a href="https://www.google.com" title="Google">
        <svg role="presentation" aria-hidden="true" class="glue-footer__logo-img">
          <use href="/assets/glue-icons.svg#google-solid-logo"></use>
        </svg>
      </a>
    </div>

    <ul class="glue-footer__global-links glue-no-bullet" role="list">
      <li class="glue-footer__global-links-list-item">
        <a class="glue-footer__link" href="https://about.google/">
          About Google
        </a>
      </li>

      <li class="glue-footer__global-links-list-item">
        <a class="glue-footer__link" href="https://about.google/products/">
          Google products
        </a>
      </li>

      <li class="glue-footer__global-links-list-item">
        <a class="glue-footer__link" href="https://policies.google.com/privacy">
          Privacy
        </a>
      </li>

      <li class="glue-footer__global-links-list-item">
        <a class="glue-footer__link" href="https://policies.google.com/terms">
          Terms
        </a>
      </li>
    </ul>

    <ul class="glue-footer__global-links glue-footer__global-links--extra glue-no-bullet"
        role="list">
      <li class="glue-footer__global-links-list-item
          glue-footer__global-links-list-item--extra">
        <a class="glue-footer__link" href="https://support.google.com/?hl=en">
          <svg role="presentation" aria-hidden="true" class="glue-icon
              glue-icon--24px glue-icon--footer-help">
            <use href="/assets/glue-icons.svg#help"></use>
          </svg>
          Help
        </a>
      </li>
    </ul>
  </section>
</footer>
  <!-- end glue footer -->
