@use '../accessibility/mixins' as glue-accessibility-mixins;
@use '../accessibility/variables' as glue-accessibility-variables;
@use '../breakpoints/mixins' as breakpoints;
@use '../colors/variables' as colors;
@use '../typography';

.glue-banner {
  display: flex;
  opacity: 1;
  padding-block: 12px;
  padding-inline: 24px 12px;
  transition: opacity 0.35s ease-out;
  width: 100%;

  &--low-emphasis {
    background: colors.$grey-50;
  }

  &--medium-emphasis {
    background: colors.$blue-50;
  }

  &--high-emphasis {
    background: colors.$yellow-50;
  }

  &__content {
    @extend .glue-caption;

    margin: auto;
    text-align: center;
    width: inherit;

    .glue-inline-tonal-link {
      @include glue-accessibility-mixins.hcm-mq {
        color: glue-accessibility-variables.$hcm-color-link-text;

        &:focus {
          box-shadow: 0 0 0 2px;
        }

        &:focus-visible {
          box-shadow: 0 0 0 2px
            glue-accessibility-variables.$hcm-color-selected-background;
        }
      }
    }

    @include glue-accessibility-mixins.hcm-mq {
      color: glue-accessibility-variables.$hcm-color-text;
    }
  }

  &__close-btn {
    background: inherit;
    border: none;
    border-radius: 0;
    color: colors.$grey-900;
    cursor: pointer;
    height: 48px;
    margin-inline-start: 12px;
    min-width: 48px;
    overflow: hidden;
    padding: 12px;
    position: relative;
    top: 0;
    transition: background 0.2s ease-in;
    width: 48px;

    &:hover {
      background: colors.$grey-800;
      @include glue-accessibility-mixins.hcm-forced-color;

      &::after,
      &::before {
        background: colors.$grey-0;
      }
    }

    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 2px colors.$blue-600;
      outline: 0;
      @include glue-accessibility-mixins.hcm-focus;
    }

    &:before,
    &:after {
      background: colors.$grey-900;
      border: 1px solid transparent;
      content: ' ';
      height: 24px;
      left: 23px;
      position: absolute;
      transition: background 0.2s ease-in;
      top: 12px;
      width: 2px;

      @include glue-accessibility-mixins.hcm-mq {
        border-color: glue-accessibility-variables.$hcm-color-button-text;
      }
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &--hidden {
    opacity: 0;
  }

  @include glue-accessibility-mixins.hcm-mq {
    border: 2px solid glue-accessibility-variables.$hcm-color-text;
  }

  @include breakpoints.bp(sm-only) {
    padding-inline-start: 12px;
  }
}
