form {
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-container {
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.button-container button {
  margin-left: 20px;
}

.dialog-heading {
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}

.logo-preview {
  margin-right: 20px;
}

.glue-button.delete {
  color: red;
  border: 1px red solid;
}
.glue-button.delete:hover {
  background-color: rgb(255, 240, 240);
}

hr {
  border-top: 1px #CCCCCC solid;
  width: 100%;
}

.button-container:after {
  content: '';
  display: block;
  clear: both;
}

.button-container-left {
  float:left;
  text-align: left;
}

.button-container-left button {
  margin: 0px 20px 0px 0px;
}

.button-container-right {
  float: right;
  text-align: right;
}

.button-container-right button {
  margin: 0px 0px 0px 20px;
}

.glue-form td, .glue-form th {
  text-align: left;
}